<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form method="post" th:action="@{/producto}" th:object="${product}">
		<div>
			<input th:field="*{codigo}" type="text" id="codigo" name="codigo" placeholder="Codigo"/><br>
			<span  th:errors="*{codigo}">asd</span>
		</div>
		<div>
			<input th:field="*{nombre}" type="text" id="nombre" name="nombre"  placeholder="Nombre"/><br> 
			<span th:errors="*{nombre}"></span>
		</div>
		<div>
			<input th:field="*{marca}" type="text" id="marca" name="marca" placeholder="Marca"/><br>
			<span th:errors="*{marca}"></span>
		</div>
		<div>
			<input th:field="*{description}" type="text" id="description" name="description" placeholder="Descripcion"/><br>
			<span th:errors="*{description}"></span>
		</div>
		<div>
			<input th:field="*{existencias}" type="text" id="existencias" name="existencias" placeholder="Existencias"/><br>
			<span th:errors="*{existencias}"></span>
		</div>
		<div>
			<input th:field="*{fechaIngreso}" type="text" id="fechaIngreso" name="fechaIngreso" placeholder="Fecha dd/mm/yyyy"/><br>
			<span th:errors="*{fechaIngreso}"></span>
		</div>
		<div>
			<input type="submit" value="Enviar">
		</div>
	</form>
</body>
</html>